# Python stuff
__pycache__/
.*_cache/
uv.lock
.python-version

# Apps
*_ynh

# Tools
vagrant
ynh-dev-tools
Vagrantfile
.vagrant

# Sources repositories
moulinette
yunohost
yunohost-admin
yunohost-portal
ssowat

# Folders
apps
backup
